@model IEnumerable<Thammapirom.Models.AnnualEvent>
@{ ViewBag.Title = "กิจกรรมประจำปี";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>

            @if (Request.IsAuthenticated)
            {
                foreach (var aEvent in Model.Reverse())
                {
                                
                <table border="1" style="width: 960px; background-color: rgba(255, 255, 255, 0.90); font-family: Kunlasatri; font-size: 14pt; border-spacing: 10px; border-collapse: separate;">
                    <tr>
                        <td style="padding: 10px;">
                            <p style="font-weight: bold; font-size: 24pt;">&nbsp;&nbsp;@aEvent.EventTitle</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;">
                            <p style="font-size: 16pt;">&nbsp;&nbsp;@aEvent.EventDetail</p>
                            <p style="text-align: right; text-decoration: underline">@Html.ActionLink("รายละเอียดกิจกรรม", "AnnualEventDetail", new { aEventID=aEvent.EventID })</p>
                        </td>
                    </tr>
                </table>  
                <p></p>   }




            }
            else
            {
                <p class="background">สำหรับสมาชิกเท่านั้น</p>
            }


        </div>
    </section>
}
