@model IEnumerable<Thammapirom.Models.Background>
@{
    ViewBag.Title = "ประวัติวัด";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p class="background">
                @foreach (var background in Model)
                { 
    
    
                    @background.BackgroundInfo
 
           
                }

            </p>
        </div>
    </section>
}