@model Thammapirom.Models.Contact
@{
    ViewBag.Title = "ติดต่อวัดป่าธรรมาภิรมย์";
}

@section featured {
     <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>        
        </div>
    </section>
      }
<article>
   
<section class="contact">
    <header>
        <h3>โทรศัพท์</h3>
    </header>
    <p>
        โทรศัพท์:  0-53-57-8514
    </p>
    <p>
        โทรสาร:  0-53-57-8514
    </p>
</section>

<section class="contact">
    <header>
        <h3>ติดต่อเพิ่มเติม</h3>
    </header>
    <p>
        พระครูสังฆกิจจารักษ์:  08-1784-8323
    </p>
    <p>
        คุณณัฐพชร์ เมธีภัคดิภูมิ (คุณนก):  08-1884-2392
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>ที่อยู่</h3>
    </header>
    <p>
        เลขที่ ๙๒ หมู่ ๑๑ ปากทางม่วงโตน ตำบลเหล่ายาว
<br />
       อำเภอบ้านโฮ่ง จังหวัดลำพูน ๕๑๑๓๐
    </p>
</section>
    </article>
<aside>
    <h3>แบบฟอร์มติดต่อวัด</h3>
    <p>
       
    </p>
    @using (Html.BeginForm())
                {
                   
                    @Html.EditorForModel()
                 
                    <input type="submit" value="ส่งข้อความ" />
                }
</aside>
  