<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    @model IEnumerable<Thammapirom.Models.GalleryImage>
    @{
        ViewBag.Title = "แกลอรี่";
    }

    @section featured {
        <section class="featured">
        <div class="content-wrapper">
             
        <div class="imgdiv"></div>

    <div id="ladiv" style="height: 252px; width: 334px;">

        @foreach (var item in Model)
        {

            if (item.ImageData != null)
            {
           <p class="background">
                        <img onmouseover="Big(this)" onmouseout="Small(this)" width="200" height="102" src="@Url.Action("GetGalleryImage", "Home", new { item.ImageID })"  />
                   </p>
            <script>

                function Big(me) {
                    me.style.height = "408px";
                    me.style.width = "800px";
                }
                function Small(me) {
                    me.style.height = "102px";
                    me.style.width = "200px";
                }

            </script>    
                    
            }

        }
        

    </div>
                 
            </div>
            </section>
     }
</body>
</html>
