@model IEnumerable<Thammapirom.Models.WelcomeImage>

<script>
    $(document).ready(function () {
        $('#ulSlider').bxSlider(function () {
            autoStart: true
        });
        $('.bx-wrapper').width('50%');
    });
</script>
@{
    ViewBag.Title = "หน้าแรก";
}
@section featured {
    
            <div>
                <br>
                <p class="welcome">ยินดีต้อนรับ</p>
                <ul id="ulSlider">
                    
                    @foreach (var item in Model)
                    {
                                               
                        <li>
                           
                          @if (item.ImageData != null){
                            <img src="@Url.Action("GetWelcomeImage", "Home", new { item.ImageID })" />
                          }
                        </li>    
                        
                    }
                </ul>
            </div>
        
   
}

