@{
    ViewBag.Title = "อินเตอร์เน็ตทีวี";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p class="background">
              

            </p>
        </div>
    </section>
}