<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://thammapirom.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>thammapirom.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>thammapirom</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$thammapirom</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nsendhvpa9.database.windows.net,1433;Initial Catalog=EFDbContext;User ID=Masterpeace@nsendhvpa9;Password=Thammapirom2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Thammapirom-25580421145902.mdf;Initial Catalog=aspnet-Thammapirom-25580421145902;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EFDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Thammapirom-25580421145902;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Thammapirom-25580421145902.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nsendhvpa9.database.windows.net,1433;Initial Catalog=EFDbContext;User ID=Masterpeace@nsendhvpa9;Password=Thammapirom2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>