@model Thammapirom.Models.AnnualEvent


@{
    ViewBag.Title = "เพิ่มกิจกรรมประจำปี";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (Session["LoginStatus"] == "True")
{
    <h2>เพิ่มกิจกรรมประจำปี</h2>

    @using (Html.BeginForm("AddAnnualEvent", "Admin"))
    {
        @Html.EditorForModel()
        
        <input type="submit" value="บันทึก" />
    
        @Html.ActionLink("ยกเลิกและกลับสู่หน้าจัดการกิจกรรมประจำปี", "AnnualEventManaging")
    }
}
else { }