@model Thammapirom.Models.GalleryImage


@{
    ViewBag.Title = "Add Gallery Image";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddGalleryImage</h2>
@using (Html.BeginForm("GalleryManaging", "Admin",
FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="editor-label">Image</div>
    <div class="editor-field">
        @if (Model.ImageData == null)
        {
            @:None
}
        else
        {
            <img width="150" height="150"
src="@Url.Action("GetImage", "Product", new { Model.ImageID })" />
        }
        <div>Upload new image:
            <input type="file" name="Image" /></div>
    </div>
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "GalleryManaging")
}