@model Thammapirom.Models.ActivityClip


@{
    ViewBag.Title = "Add Activity Clip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Activity Clip</h2>
@using (Html.BeginForm("EditActivityClip", "Admin"))
{
        @Html.EditorForModel()
        <input type="submit" value="Save" />
    
    @Html.ActionLink("Cancel and return to List", "ActivityManaging")
}