 .imgthumbnail 
        { 
            height:102px; 
            width:200px; 
        } 
        .imgdiv 
        { 
            height:408px; 
            width:800px; 
            background-color:#FFF;
            margin : 0px auto;
            padding:10px; 
            border:solid 1px #D3CFCB;             
        }      